* {
    box-sizing: border-box;
}

body{
    margin:0;    
}

form{
    
    background-color: #213B50;
    width: 50%;
    color:white;
    padding: 10px;
}
form label {
    display:block;
    
}
form input[type="text"], form input[type="tel"], form input[type="email"], form select, form textarea {
    background-color: #2b4a64;
    border: 0;
    width: 50%;
    margin-bottom: 10px;
    color: white;
    padding: 5px;
    height: 25px;
}
form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
form input:focus, form textarea {
    background-color: #4e708c;
    border: 1px solid #fff;
}

form textarea{
    display:block;
    height: 150px;
    resize: none;
}
input[type="submit"] {
    width: 150px;
    text-align: center;
    line-height: 50px;
    background-color: lime;
    color: white;
    text-transform: uppercase;
}